# Tuist generated — не коммитить
*.xcodeproj
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata

# Tuist / SPM
.build/
.tuist-cache/
Derived/

# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
.DS_Store
Projects/App/Configurations/Debug.xcconfig
Projects/App/Configurations/Release.xcconfig
